<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="lr.css">
</head>
<body>
  <div class="register-box">
    <h1>Register</h1>
    <form>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Enter Username"><br><br>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Enter Email"><br><br>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Enter Password"><br><br>
      <label for="confirm-password">Confirm Password</label>
      <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Password"><br><br>
      <input type="submit" value="Register"><br>
      <input type="reset" value="reset"><br>
    </form>
    <a href="login.html">Already have an account? Login now!</a>
  </div>
<a href="/"><input type="button" value="back-to-home"></a>
</body>
</html>